# requirements.txt
aiogram>=3.0.0 # Используем aiogram 3+
python-dotenv>=1.0.0
aiohttp>=3.8.0 # Для вебхука и HTTP-запросов
sqlalchemy[asyncio]>=2.0.0 # Добавили SQLAlchemy с asyncio
aiosqlite>=0.17.0         # Добавили драйвер для SQLite
# Добавим позже: asyncpg (для PostgreSQL)
# redis>=4.0.0 # Раскомментируйте и установите, если будете использовать Redis для FSM